body {
    padding-top: 60px;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.item > div:nth-child(1),
.item .item-content {
    padding-top: 10px;
}

.item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.item-editor {
    width: 70%;
}

.item-buttons {
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
}
