<!doctype html>
<html lang="en" ng-app="todo">
<head>
	<meta charset="utf-8">
	<title>TODO App Angular</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<!-- Load Angular in head to prevent flash of view variables -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="all-state">TODO App</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="all-state">All</a></li>
				<li ui-sref-active="active"><a ui-sref="active-state">Active</a></li>
				<li ui-sref-active="active"><a ui-sref="completed-state">Completed</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input
						ng-model="search.content"
						type="text"
						class="form-control"
						placeholder="Filter"/>
				</div>
			</form>
		</div>
	</div>
</nav>
<div class="container main-container">
	<div class="row" ng-controller="AlertsCtrl">
		<div class="col-xs-12" ng-if="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ui-view></ui-view>
		</div>
	</div>
</div>
<footer class="text-center">
	<div class="row">
		<div class="col-xs-12">
			<p>Developed by Dmitry Antonov in 2015</p>
		</div>
	</div>
</footer>
<!-- Angular template(s) below -->
<script type="text/ng-template" id="todo.html">
	<div class="form-group">
		<input ng-model="newItem"
			   ng-keyup="createItem($event)"
			   class="form-control" placeholder="What needs to be done?" autofocus />
	</div>
	<div class="form-group">
		<a class="btn btn-default" ng-click="selectAll()">
            <span class="glyphicon glyphicon-check"></span>
            Select all
        </a>
		<a class="btn btn-primary" ng-click="markSelectedComplete()">
            <span class="glyphicon glyphicon-ok"></span>
            Mark selected ({{ TodoModel.getSelected().length }}) as complete
        </a>
		<a ng-if="TodoModel.getCompleted().length" class="btn btn-danger" ng-click="removeCompleted()">
			<span class="glyphicon glyphicon-trash"></span>
			Clear completed ({{ TodoModel.getCompleted().length }})
		</a>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<strong>{{ TodoModel.getActive().length }}</strong> items left
		</div>
	</div>
	<section class="items" ng-if="items.length > 0">
		<div class="row item" ng-repeat="item in items | filter: search" ng-if="item.isVisible">
			<div class="col-xs-1">
				<input type="checkbox" ng-model="item.isSelected" />
			</div>
			<div class="col-xs-11" ng-class="{ completed: !item.isActive }">
				<div class="pull-right item-buttons">
					<a ng-if="item.isActive" ng-click="completeItem($index)" class="btn btn-primary" title="Mark as complete">
						<span class="glyphicon glyphicon-ok"></span>
					</a>
					<a ng-if="!item.isActive" ng-click="activateItem($index)" class="btn btn-success" title="Mark as active">
						<span class="glyphicon glyphicon-repeat"></span>
					</a>
					<a ng-click="removeItem($index)" class="btn btn-danger" title="Remove">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
                <input ng-if="item.isEdit"
                       ng-keyup="$event.keyCode == 13 ? item.isEdit = false : null"
                       ng-model="item.content"
                       id="item-editor-{{ $index }}"
                       class="form-control item-editor" value="{{ item.content }}" />
				<div ng-if="!item.isEdit" ng-dblclick="enableEdit($index)" class="item-content">
					{{ item.content }}
				</div>
			</div>
		</div>
	</section>
</script>
<!-- Scripts here. Don't remove this ↓ -->
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="js/app.js"></script>
<script src="js/todo-model.js"></script>
<script src="js/alerts/alerts.js"></script>
<script src="js/alerts/alerts-ctrl.js"></script>
<script src="js/all/all.js"></script>
<script src="js/all/all-ctrl.js"></script>
<script src="js/active/active.js"></script>
<script src="js/completed/completed.js"></script>
</body>
</html>
